# emacs temp files
auto-save-list/
autosaves/
backups/
.cache/
eln-cache/
elpa/
forge-database.sqlite
history
.last-package-update-day
.lsp-session*
projects
projectile-bookmarks*
recentf
straight/
transient/
tree-sitter/
undo/
