auto-save-list/
autosaves/
backups/
.cache/
eln-cache/
elpa/
forge-database.sqlite
history
.last-package-update-day
.lsp-session*
projects
projectile-bookmarks*
recentf
straight/build/
straight/build-cache.el
straight/mtimes/
straight/repos/
tmp/
transient/
tree-sitter/
undo/
