auto-save-list/
url/
ellama-sessions/
autosaves/
devdocs/
emojis/
backups/
bookmarks
.cache/
.dap-breakpoints
eln-cache/
elpa/
forge-database.sqlite
history
.last-package-update-day
.lsp-session*
projects
projectile-bookmarks*
recentf
straight/build/
straight/build-cache.el
straight/modified/
straight/mtimes/
straight/repos/
tmp/
transient/
tree-sitter/
undo/
tramp
org-roam.db
nov-places
.aider.*